@media (max-width: 1200px) {
  .header__logo {
    margin-right: 100px;
  }
  .header__nav {
    margin-right: 140px;
  }
  .plan__col {
    min-width: 300px;
  }
}
@media (max-width: 992px) {
  .header__logo {
    max-width: 160px;
    margin-right: 35px;
  }
  .nav__link {
    font-size: 15px;
  }
  .nav__btn {
    width: 135px;
    height: 35px;
    font-size: 15px;
  }
  .header__nav {
    max-width: 595px;
    margin-right: 45px;
  }
  .header__btn {
    max-width: 242px;
  }
  .hello__top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .hello__col {
    margin: 0 auto;
    max-width: 800px;
  }
  .hello__title {
    font-size: 44px;
  }
  .bottom-text__title {
    font-size: 22px;
  }
  .bottom-text__descr {
    font-size: 18px;
  }
  .plan__col {
    min-width: 230px;
  }
}
@media (max-width: 768px) {
  .hello__col {
    text-align: center;
  }
  .hello__title {
    text-align: center;
  }
  .hello__descr {
    text-align: center;
  }
  .about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .about__img {
    margin: 0 auto;
  }
  .about__info {
    max-width: 650px;
    margin: 0 auto;
  }
  .about__title {
    text-align: center;
  }
  .about__descr {
    text-align: center;
  }
  .about__list {
    width: 300px;
    margin: 0 auto;
  }
  .about-list__completed img {
    margin-right: 20px;
  }
  .about__item {
    letter-spacing: 1px;
  }
  .plans {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 40px;
  }
  .plan__col {
    min-width: 400px;
    margin-bottom: 70px;
  }
  .card__subscribe {
    min-width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100px;
    min-width: 300px;
  }
  .subscribe__info-about {
    min-width: 300px;
    margin-right: 0;
  }
  .subscribe__title {
    margin-bottom: 10px;
  }
  .slide-container {
    margin-bottom: 80px;
  }
}
@media (max-width: 480px) {
  .hello__title {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 10px;
  }
  .hello__descr {
    font-size: 14px;
    line-height: 20px;
  }
  .hello__top {
    margin-bottom: 50px;
  }
  .hello-bottom__list {
    height: 100px;
  }
  .bottom-item {
    min-width: 100px;
  }
  .bottom-text__title {
    font-size: 16px;
  }
  .bottom-text__descr {
    font-size: 14px;
  }
  .about__img {
    max-width: 200px;
  }
  .about__info {
    max-width: 400px;
  }
  .about__descr {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 80px;
  }
  .plans {
    margin-bottom: 20px;
  }
  .plan__col {
    min-width: 290px;
    margin-bottom: 50px;
  }
  .plan__title {
    margin-bottom: 10px;
  }
  .plan__descr {
    font-size: 14px;
    line-height: 20px;
  }
  .col-title {
    font-size: 26px;
  }
  .col-item {
    font-size: 16px;
  }
  .plan__col-title {
    font-size: 26px;
  }
  .global__info {
    min-width: 300px;
  }
  .global__title {
    min-width: 300px;
    margin-bottom: 10px;
  }
  .global__descr {
    font-size: 14px;
    line-height: 20px;
  }
  .card__info {
    min-width: 300px;
    margin-bottom: 90px;
  }
  .card__title {
    min-width: 300px;
    margin-bottom: 10px;
  }
  .card__descr {
    font-size: 14px;
    line-height: 20px;
  }
  .slide-container {
    margin-bottom: 60px;
  }
  .card__subscribe {
    min-width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100px;
    min-width: 300px;
  }
  .subscribe__info-about {
    min-width: 300px;
    margin-right: 0;
  }
  .subscribe__title {
    line-height: 50px;
    margin-bottom: 10px;
  }
  .plans {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 320px) {
  .hello__col {
    min-width: 200px;
  }
  .hello__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 7px;
  }
  .hello__descr {
    font-size: 13px;
    line-height: 16px;
  }
  .hello-bottom__list {
    min-width: 200px;
    margin-bottom: 70px;
  }
  .bottom-item {
    height: 50px;
    min-width: 90px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bottom-item__img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  .aaa {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bottom-text__title {
    font-size: 14px;
  }
  .bottom-text__descr {
    font-size: 12px;
  }
  .hello-bottom__list {
    height: 100px;
  }
  .about {
    margin-bottom: 10px;
  }
  .about__img {
    margin: 0;
    min-width: 290px;
  }
  .about__info {
    min-width: 300px;
  }
  .about__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 7px;
  }
  .about__descr {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 60px;
  }
  .about__list {
    min-width: 300px;
  }
  .about__item {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 7px;
  }
  .plans {
    margin-bottom: 30px;
  }
  .plan__info {
    padding-top: 40px;
  }
  .plan__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 7px;
  }
  .plan__descr {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 30px;
  }
  .plan__col {
    min-width: 270px;
    margin-bottom: 20px;
  }
  .global__info {
    height: 120px;
    min-width: 200px;
    margin-bottom: 5px;
  }
  .global__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 7px;
    min-width: 300px;
  }
  .global__descr {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 7px;
  }
  .card__subscribe {
    min-width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100px;
    min-width: 300px;
  }
  .subscribe__info-about {
    min-width: 300px;
    margin-right: 0;
  }
  .card__info {
    height: 100px;
    min-width: 300px;
    margin-bottom: 50px;
  }
  .card__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 7px;
    min-width: 300px;
  }
  .card__descr {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 7px;
  }
  .slide-container {
    margin-bottom: 50px;
    padding: 0;
  }
  .subscribe__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 4px;
  }
  .subscribe__descr {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 20px;
  }
}