@media (max-width: 1200px) {
  .header__logo {
    max-width: 160px;
    margin-right: 35px;
  }
  .header__nav {
    min-width: 595px;
    margin-right: 45px;
  }
  .header__btn {
    max-width: 242px;
  }
  .nav__btn {
    width: 135px;
    height: 35px;
    font-size: 15px;
  }
  .plan__col {
    min-width: 300px;
  }
  .footer {
    padding: 150px 0 50px;
  }
  .footer__cols {
    min-width: 100px;
  }
  .footer__items {
    min-width: 360px;
    margin-left: 50px;
  }
}
@media (max-width: 992px) {
  .header__logo {
    max-width: 160px;
    margin-right: 35px;
  }
  .header__nav {
    min-width: 595px;
    margin-right: 45px;
  }
  .header__btn {
    max-width: 242px;
  }
  .nav__btn {
    width: 135px;
    height: 35px;
    font-size: 15px;
  }
  .nav__list {
    margin-right: 30px;
  }
  .hello__top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .hello__col {
    margin: 0 auto;
    max-width: 800px;
  }
  .hello__title {
    font-size: 44px;
    text-align: center;
  }
  .hello__descr {
    text-align: center;
  }
  .hello__btn {
    margin-left: 270px;
  }
  .user-text__title {
    font-size: 20px;
    line-height: 20px;
  }
  .user-text__descr {
    font-size: 18px;
  }
  .hello__users {
    height: 180px;
  }
  .about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .about__img {
    margin: 0 auto;
  }
  .about__info {
    min-width: 700px;
    margin: 0 auto;
  }
  .about__title {
    text-align: center;
  }
  .about__descr {
    text-align: center;
  }
  .about__list {
    margin-left: 280px;
    margin-top: 120px;
  }
  .plan__col {
    min-width: 230px;
  }
  .card__subscribe {
    min-width: 100px;
    min-height: 233px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 135px;
    padding: 0 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .subscribe__title {
    min-width: 360px;
  }
  .subscribe__descr {
    min-width: 300px;
  }
  .subscribe__info-about {
    min-width: 130px;
    margin-right: 0;
    text-align: left;
  }
}
@media (max-width: 920px) {
  .nav__list {
    top: 0;
    z-index: 2;
    left: 100%;
    min-width: 800px;
    height: 100%;
    position: fixed;
    padding-top: 10%;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav__list.active {
    left: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .nav__item {
    margin: 25px 0;
  }
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
  .hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bar {
    width: 35px;
    height: 3px;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #101010;
  }
  .hamb.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamb.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}
@media (max-width: 768px) {
  .hello__col {
    text-align: center;
  }
  .hello__title {
    text-align: center;
  }
  .hello__descr {
    text-align: center;
  }
  .hello__btn {
    margin-left: 0;
  }
  .hello__users {
    height: 140px;
  }
  .users-box {
    margin: 0;
    margin-top: 15px;
  }
  .users-img {
    zoom: 0.8;
    margin: 0 20px;
    margin-bottom: 10px;
  }
  .user-text__title {
    font-size: 18px;
    line-height: 15px;
  }
  .user-text__descr {
    font-size: 16px;
  }
  .about__img {
    margin: 0 auto;
  }
  .about__info {
    min-width: 455px;
    margin: 0 auto;
  }
  .about__title {
    text-align: center;
  }
  .about__descr {
    text-align: center;
  }
  .about__list {
    width: 300px;
    margin: 0 auto;
  }
  .about-list__completed img {
    margin-right: 20px;
  }
  .about__item {
    letter-spacing: 1px;
  }
  .plans {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 40px;
  }
  .plan__col {
    min-width: 400px;
    margin-bottom: 70px;
  }
  .card__subscribe {
    min-width: 100px;
    min-height: 233px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 200px;
  }
  .subscribe__info-about {
    margin-right: 0;
    text-align: center;
  }
  .subscribe__title {
    margin-bottom: 10px;
  }
  .slide-container {
    margin-bottom: 80px;
  }
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
  .descr {
    height: 130px;
  }
  .footer {
    padding: 30px 0 160px;
  }
  .footer__cols {
    display: block;
  }
  .footer__col {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .footer__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__items {
    min-width: 450px;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .hamb {
    top: 76px;
    zoom: 0.7;
    z-index: 2;
    right: 20px;
    margin-bottom: 20px;
  }
  .bar {
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #101010;
  }
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    margin-bottom: 0;
    margin-right: -11px;
  }
  .header__nav {
    margin: 0 auto;
    min-width: 200px;
  }
  .nav__list {
    min-width: 490px;
  }
  .nav__btn {
    width: 100px;
    height: 30px;
    font-size: 13px;
    margin-right: 10px;
  }
  .hello__title {
    font-size: 29px;
    min-width: 298px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .hello__descr {
    font-size: 14px;
    line-height: 20px;
  }
  .hello__top {
    margin-bottom: 50px;
  }
  .hello-bottom__list {
    height: 100px;
  }
  .hello__users {
    height: 120px;
  }
  .users-box {
    margin: 0 5px;
  }
  .users-img {
    zoom: 0.6;
    margin: 0 10px;
    margin-top: 0;
  }
  .user-text__title {
    font-size: 16px;
    line-height: 10px;
  }
  .user-text__descr {
    font-size: 14px;
  }
  .about__img {
    max-width: 200px;
  }
  .about__info {
    min-width: 300px;
  }
  .about__title {
    font-size: 29px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .about__descr {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 80px;
  }
  .plans {
    margin-bottom: 50px;
  }
  .plan__info {
    padding-top: 35px;
  }
  .plan__col {
    min-width: 290px;
    margin-bottom: 50px;
  }
  .plan__title {
    font-size: 29px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .plan__descr {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  .col-title {
    font-size: 26px;
  }
  .col-item {
    font-size: 16px;
  }
  .plan__col-title {
    font-size: 26px;
  }
  .global__info {
    height: 100px;
    min-width: 300px;
    margin-bottom: 50px;
  }
  .global__title {
    font-size: 29px;
    line-height: 35px;
    min-width: 300px;
    margin-bottom: 10px;
  }
  .global__descr {
    font-size: 14px;
    line-height: 20px;
  }
  .card__info {
    height: 120px;
    min-width: 300px;
    margin-bottom: 50px;
  }
  .card__title {
    font-size: 29px;
    line-height: 35px;
    min-width: 300px;
    margin-bottom: 10px;
  }
  .card__descr {
    font-size: 14px;
    line-height: 20px;
  }
  .slide-container {
    margin-bottom: 60px;
  }
  .card__subscribe {
    min-width: 100px;
    min-height: 233px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 200px;
  }
  .subscribe__info-about {
    margin-right: 0;
    text-align: center;
  }
  .subscribe__title {
    font-size: 29px;
    line-height: 35px;
    margin-bottom: 10px;
    min-width: 300px;
  }
  .subscribe__descr {
    font-size: 14px;
  }
  .plans {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .descr {
    height: 90px;
  }
  .footer {
    padding: 30px 0 255px;
  }
  .footer__col {
    min-width: 300px;
    margin-bottom: 80px;
  }
  .footer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__items {
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 270px;
    height: 460px;
  }
  .footer__li {
    margin-right: 22px;
    margin-left: 23px;
  }
}
@media (max-width: 420px) {
  .header__logo {
    margin-right: 45px;
    margin-bottom: 10px;
  }
  .header__btn {
    max-width: 270px;
    margin-left: 35px;
  }
  .nav__btn {
    width: 120px;
    height: 35px;
    margin-right: 30px;
  }
}
@media (max-width: 320px) {
  .hamb {
    zoom: 0.7;
    top: 81px;
    z-index: 2;
    right: 20px;
    margin-bottom: 20px;
  }
  .bar {
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #101010;
  }
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    margin-bottom: 20px;
  }
  .header__nav {
    margin: 0 auto;
    min-width: 200px;
  }
  .nav__list {
    min-width: 320px;
  }
  .nav__btn {
    width: 100px;
    height: 30px;
    font-size: 13px;
  }
  .hello__col {
    min-width: 200px;
  }
  .hello__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 7px;
  }
  .hello__descr {
    font-size: 13px;
    line-height: 16px;
  }
  .hello__users {
    height: 90px;
  }
  .users-box {
    margin: 0;
  }
  .users-img {
    zoom: 0.4;
    margin: 0 20px;
    margin-top: 10px;
  }
  .user-text__title {
    font-size: 14px;
    line-height: 10px;
  }
  .user-text__descr {
    font-size: 12px;
  }
  .about {
    margin-bottom: 10px;
  }
  .about__img {
    margin: 0;
    min-width: 290px;
  }
  .about__info {
    min-width: 300px;
  }
  .about__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 7px;
  }
  .about__descr {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 60px;
  }
  .about__list {
    min-width: 235px;
  }
  .about__item {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 7px;
  }
  .plans {
    margin-bottom: 30px;
  }
  .plan__info {
    padding-top: 40px;
  }
  .plan__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 7px;
  }
  .plan__descr {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 30px;
  }
  .plan__col {
    min-width: 270px;
    margin-bottom: 20px;
  }
  .global__info {
    height: 120px;
    min-width: 200px;
    margin-bottom: 5px;
  }
  .global__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 7px;
    min-width: 300px;
  }
  .global__descr {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 7px;
  }
  .card__subscribe {
    min-width: 100px;
    min-height: 233px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 200px;
  }
  .subscribe__info-about {
    margin-right: 0;
    text-align: center;
  }
  .subscribe__title {
    min-width: 300px;
  }
  .card__info {
    height: 100px;
    min-width: 300px;
    margin-bottom: 50px;
  }
  .card__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 7px;
    min-width: 300px;
  }
  .card__descr {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 7px;
  }
  .slide-container {
    margin-bottom: 50px;
    padding: 0;
  }
  .subscribe__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 4px;
  }
  .subscribe__descr {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 20px;
  }
  .descr {
    height: 120px;
  }
  .footer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}