:root {
  --color-red: #f53838;
  --color-grey: #4f5665;
  --color-dark: #0b132a;
  --offset: 190px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  max-width: 1440px;
  font-family: "Rubik", sans-serif;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

.btn--left {
  margin-right: 30px;
}

.hello__btn {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--color-grey);
  background-color: #fff;
  border: 2px solid var(--color-grey);
}
.hello__btn:hover {
  color: #fff;
  border: 2px solid var(--color-red);
  background-color: var(--color-red);
  -webkit-box-shadow: 0 26px 54px rgba(245, 56, 56, 0.35);
          box-shadow: 0 26px 54px rgba(245, 56, 56, 0.35);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 41px;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 89px;
}

.header__logo {
  width: 146px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 157px;
}

.header__logo-img {
  width: 35px;
  height: 36px;
}

.logo {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;
  color: var(--color-dark);
}

.logo span {
  font-weight: 700;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  margin-right: 150px;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__btn {
  width: 150px;
  height: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--color-dark);
  background-color: #fff;
  border: 2px solid var(--color-grey);
}
.nav__btn:hover {
  color: #fff;
  border: 2px solid var(--color-red);
  background-color: var(--color-red);
  -webkit-box-shadow: 0 26px 54px rgba(245, 56, 56, 0.35);
          box-shadow: 0 26px 54px rgba(245, 56, 56, 0.35);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.nav__item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-grey);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.nav__link:hover {
  color: var(--color-red);
}

.hello__top {
  margin-bottom: 103px;
}

.hello__col {
  max-width: 555px;
}

.hello__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 20px;
  color: var(--color-dark);
}

.hello__title span {
  font-weight: 700;
}

.hello__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  color: var(--color-grey);
}

.hello__img {
  max-width: 611px;
  max-height: 382px;
}

.hello__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hello-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-bottom: 96px;
  background-color: #fff;
  -webkit-box-shadow: 0px 42px 114px rgba(13, 16, 37, 0.06);
          box-shadow: 0px 42px 114px rgba(13, 16, 37, 0.06);
}

.bottom-item {
  width: 366px;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-item:not(:first-child) {
  border-left: 1px solid #eeeff2;
}

.bottom-text__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--color-dark);
}

.bottom-text__descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-grey);
}

.bottom-item__img {
  width: 55px;
  height: 55px;
  margin-right: 36px;
}

.bottom-item__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg__gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#fff));
  background: -o-linear-gradient(#f6f6f6, #fff);
  background: linear-gradient(#f6f6f6, #fff);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1106px;
  margin-bottom: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__img {
  top: -30px;
  position: relative;
  max-width: 507px;
  max-height: 414px;
}

.about__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__info {
  width: 428px;
  height: 365px;
}

.about__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 20px;
  color: var(--color-dark);
}

.about__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  color: var(--color-grey);
}

.about__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-grey);
}

.about-list__completed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-list__completed:not(:last-child) {
  margin-bottom: 15px;
}

.about-list__completed img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan__info {
  margin: 0 auto;
  max-width: 555px;
  padding-top: 80px;
}

.plan__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-dark);
}

.plan__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 60px;
  color: var(--color-grey);
}

.plan__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 330px;
  height: 760px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #ddd;
}
.plan__col:hover {
  border: 2px solid var(--color-red);
}

.plan__col-img {
  margin-top: 80px;
  margin-bottom: 30px;
  width: 145px;
  height: 165px;
}

.plan__col-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.col-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  color: var(--color-dark);
}

.col-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-grey);
}

.col-item:not(:last-child) {
  margin-bottom: 10px;
}

.col-item__img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.col-item__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.plan__col-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-dark);
}

.plan__col-title span {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: var(--color-grey);
}

.plan__col-btn {
  width: 178px;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--color-grey);
  background-color: #fff;
  border: 2px solid var(--color-grey);
}
.plan__col-btn:hover {
  color: #fff;
  background-color: var(--color-red);
  border: 2px solid var(--color-red);
  -webkit-box-shadow: 0 26px 54px rgba(245, 56, 56, 0.35);
          box-shadow: 0 26px 54px rgba(245, 56, 56, 0.35);
}

.plan__col-text-1 {
  margin-top: 130px;
}

.plan__col-text-2 {
  margin-top: 90px;
}

.plan__col-text-3 {
  margin-top: 50px;
}

.global__info {
  width: 555px;
  height: 180px;
  margin: 0 auto;
  margin-bottom: 156px;
  text-align: center;
}

.global__title {
  width: 384px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 20px;
  color: var(--color-dark);
}

.global__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-grey);
}

.global__descr span {
  font-weight: 500;
}

.global__img-1 {
  max-width: 1060px;
  max-height: 538px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.global__img-2 {
  max-width: 1136px;
  max-height: 208px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.global__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  padding-bottom: 100px;
}

.card__info {
  width: 555px;
  height: 180px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.card__title {
  width: 448px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: var(--color-dark);
  margin-bottom: 20px;
}

.card__descr {
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-grey);
}

.card__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.card-slider__card {
  width: 400px;
  height: 230px;
  padding: 30px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #ddd;
}
.card-slider__card:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  border: 2px solid var(--color-red);
  -webkit-box-shadow: 0 71px 114px rgba(13, 16, 37, 0.06);
          box-shadow: 0 71px 114px rgba(13, 16, 37, 0.06);
}

.card-slider__card:not(:first-child) {
  margin-left: 50px;
}

.card-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-header__ava {
  width: 50px;
  height: 50px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}

.card-header__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  margin-right: auto;
}

.card-header__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-dark);
}

.card-header__country {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-grey);
}

.card-header__raiting-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-header__raiting {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-right: 10px;
  color: var(--color-dark);
}

.card-text {
  width: 340px;
  height: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-dark);
}

.card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 65px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__btn-l-red {
  width: 45px;
  height: 15px;
  border: none;
  border-radius: 50px;
  background-color: var(--color-grey);
}
.card__btn-l-red:hover {
  background-color: var(--color-red);
}

.card__btn-l-red {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.card__btn-l-red:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.card__btn-l {
  width: 15px;
  height: 15px;
  border: none;
  margin-left: 15px;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #dde0e4;
}
.card__btn-l:hover {
  -webkit-transform: scale(1.9);
      -ms-transform: scale(1.9);
          transform: scale(1.9);
  background-color: var(--color-red);
}

.card__btn-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__btn-r {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-grey);
  background-color: #fff;
  border: 2px solid var(--color-grey);
}
.card__btn-r:hover {
  color: #fff;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  border: 2px solid var(--color-red);
  background-color: var(--color-red);
}

.card__btn-r svg {
  display: block;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  fill: currentColor;
}

.card__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 233px;
  margin: 0 auto;
  max-width: 1140px;
  position: absolute;
  left: 0;
  right: 0;
  padding: 58px 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 39px 114px rgba(13, 16, 37, 0.06);
          box-shadow: 0px 39px 114px rgba(13, 16, 37, 0.06);
}

.subscribe__info {
  width: 371px;
  height: 116px;
}

.subscribe__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  color: var(--color-dark);
  margin-bottom: 20px;
}

.subscribe__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-grey);
}

.footer {
  width: 100%;
  background-color: #f8f8f8;
  padding: 180px 0 100px;
}

.footer__cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1150px;
  height: 280px;
  margin: 0 auto;
}

.footer__col {
  width: 340px;
  height: 241px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.footer__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
  color: var(--color-grey);
}

.footer__descr span {
  font-weight: 500;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
}

.footer__author {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
}

.footer__items {
  width: 570px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 230px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__about {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-dark);
  margin-bottom: 20px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__about:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__help {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__help:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-grey);
}

.footer__help:not(:last-child) {
  margin-bottom: 10px;
}