@media (max-width: 1200px) {
  .header__logo {
    margin-right: 100px;
  }

  .header__nav {
    margin-right: 140px;
  }
}

@media (max-width: 992px) {
  .header__logo {
    max-width: 160px;
    margin-right: 35px;
  }

  .nav__link {
    font-size: 15px;
  }

  .nav__btn {
    width: 135px;
    height: 35px;
    font-size: 15px;
  }

  .header__nav {
    max-width: 595px;
    margin-right: 45px;
  }

  .header__btn {
    max-width: 242px;
  }

  .hello__top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .hello__col {
    margin: 0 auto;
    max-width: 800px;
  }

  .hello__title {
    font-size: 44px;
  }

  .bottom-text__title {
    font-size: 22px;
  }

  .bottom-text__descr {
    font-size: 18px;
  }
}

// @media (max-width: 768px) {
// }

// @media (max-width: 576px) {
// }
