// Пример переменных цветов и отступа (!На каждом проекте необх. их заменить на соответсвующие!) //
:root {
  --color-red: #f53838;
  --color-grey: #4f5665;
  --color-dark: #0b132a;
  --color-lsoft: #acacac69;
  --color-dsoft: #9d9fa3;

  --offset: 190px;
}

// Минимальный сброс стилей //
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// Ссылки наследуют цвет от рордителя и не имеют подчеркывание //
a {
  color: inherit;
  text-decoration: none;
}

// Сброс стилья кнопок поумольчание //
.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

// Сброс стилья списка поумольчание //
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Шрифт //
body {
  font-family: 'Rubik', sans-serif;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

.btn--left {
  margin-right: 30px;
}

.hello__btn {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  transition: all 0.3s;
  color: #fff;
  background-color: var(--color-lsoft);
  border: 2px solid var(--color-dsoft);
  &:hover {
    color: var(--color-dsoft);
    border: 2px solid var(--color-lsoft);
    background-color: var(--color-lsoft);
    box-shadow: 0 26px 54px var(--color-lsoft);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 41px;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 89px;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 146px;
  height: 37px;
  display: flex;
  align-items: center;
}
.header__logo-img {
  width: 35px;
  height: 36px;
}
.logo {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;
  color: var(--color-dark);
}
.logo span {
  font-weight: 700;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}
.nav__list {
  display: flex;
  align-items: center;
  margin-right: 90px;
}
.nav__item {
  transition: all 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-grey);
  transition: all 0.3s;
  &:hover {
    color: var(--color-red);
  }
}
.header__btn {
  display: flex;
  align-items: center;
}

.hamb {
  display: none;
}
.bar {
  width: 5px;
  height: 3px;
  display: block;
  margin: 5px auto;
  transition: all 0.3s;
  background-color: #00000063;
}

.nav__btn {
  width: 150px;
  height: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border-radius: 50px;
  transition: all 0.3s;
  color: #fff;
  background-color: var(--color-lsoft);
  border: 2px solid var(--color-dsoft);
  &:hover {
    color: var(--color-dsoft);
    border: 2px solid var(--color-lsoft);
    background-color: var(--color-lsoft);
    box-shadow: 0 26px 54px var(--color-lsoft);
  }

  // color: var(--color-dark);
  // background-color: #fff;
  // border: 2px solid var(--color-grey);
  // &:hover {
  //   color: #fff;
  //   border: 2px solid var(--color-red);
  //   background-color: var(--color-red);
  //   box-shadow: 0 26px 54px rgba(245, 56, 56, 0.35);
  // }
}

.hello__top {
  margin-bottom: 103px;
}

.hello__col {
  max-width: 555px;
}

.hello__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 20px;
  color: var(--color-dark);
}

.hello__title span {
  font-weight: 700;
}

.hello__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  color: var(--color-grey);
}

.hello__img {
  max-width: 611px;
  max-height: 382px;
}

.hello__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hello__users {
  display: flex;
  height: 200px;
  margin: 0 auto;
  max-width: 1140px;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 100px;
  background-color: #fff;
  box-shadow: 0 6px 19px -6px rgb(192 192 192 / 68%);
}
.users-group {
  width: 100%;
  display: flex;
  margin-right: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.users-box {
  width: 30%;
  display: flex;
  margin: 0 20px;
  justify-content: center;
}
.users-img {
  width: 55px;
  margin: 0 40px;
}
.users-img img {
  max-width: 55px;
}
.users-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user-text__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--color-dark);
}
.user-text__descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-grey);
}

.bg__gradient {
  background: linear-gradient(#f6f6f6, #fff);
}

.about {
  display: flex;
  margin: 0 auto;
  max-width: 1106px;
  margin-bottom: 130px;
  align-items: center;
  justify-content: space-between;
}

.about__img {
  top: -30px;
  position: relative;
  max-width: 507px;
  max-height: 414px;
}

.about__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__info {
  max-width: 428px;
  height: 365px;
}

.about__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 20px;
  color: var(--color-dark);
}

.about__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  color: var(--color-grey);
}

.about__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-grey);
}

.about-list__completed {
  display: flex;
  align-items: center;
}

.about-list__completed:not(:last-child) {
  margin-bottom: 15px;
}

.about-list__completed img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.plans {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  justify-content: space-between;
}

.plan__info {
  margin: 0 auto;
  max-width: 555px;
  padding-top: 80px;
}

.plan__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-dark);
}

.plan__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 60px;
  color: var(--color-grey);
}

.plan__col {
  display: flex;
  min-width: 330px;
  height: 760px;
  margin: 0 10px;
  border-radius: 10px;
  align-items: center;
  transition: all 0.3s;
  flex-direction: column;
  border: 2px solid var(--color-lsoft);
  &:hover {
    border: 2px solid var(--color-dsoft);
  }
}

.plan__col-img {
  margin-top: 80px;
  margin-bottom: 30px;
  width: 145px;
  height: 165px;
}

.plan__col-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  color: var(--color-dark);
}

.col-item {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-grey);
}

.col-item:not(:last-child) {
  margin-bottom: 10px;
}

.col-item__img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.col-item__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plan__col-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-dark);
}

.plan__col-title span {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: var(--color-grey);
}

.plan__col-btn {
  width: 178px;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  border-radius: 50px;
  transition: all 0.3s;
  color: #fff;
  background-color: var(--color-lsoft);
  border: 2px solid var(--color-dsoft);
  &:hover {
    color: var(--color-dsoft);
    border: 2px solid var(--color-lsoft);
    background-color: var(--color-lsoft);
    box-shadow: 0 26px 54px var(--color-lsoft);
  }
}

.plan__col-text-1 {
  margin-top: 130px;
}

.plan__col-text-2 {
  margin-top: 90px;
}

.plan__col-text-3 {
  margin-top: 50px;
}

.global__info {
  max-width: 555px;
  height: 180px;
  margin: 0 auto;
  margin-bottom: 156px;
  text-align: center;
}

.global__title {
  max-width: 384px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 20px;
  color: var(--color-dark);
}

.global__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-grey);
}

.global__descr span {
  font-weight: 500;
}

.global__img-1 {
  max-width: 1060px;
  max-height: 538px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.global__img-2 {
  max-width: 1136px;
  max-height: 208px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.global__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards {
  padding-bottom: 100px;
}

.card__info {
  max-width: 555px;
  height: 180px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.card__title {
  max-width: 448px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: var(--color-dark);
  margin-bottom: 20px;
}

.card__descr {
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-grey);
}

.slide-container {
  width: 100%;
  padding: 40px 0;
  max-width: 1120px;
  margin-bottom: 100px;
}
.slide-content {
  // height: 370px;
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card {
  border-radius: 25px;
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  flex-direction: column;
}
.card-content {
  border-radius: 25px;
  border-right: 2px solid rgba(161, 161, 161, 0.384);
}
.image-content {
  row-gap: 5px;
  padding: 25px 0;
  position: relative;
  margin-bottom: 10px;
}
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 25px 25px 0 25px;
  transition: all 0.3s ease;
  background-color: var(--color-lsoft);
}
.overlay:hover {
  background-color: var(--color-dsoft);
}
.overlay::before,
.overlay::after {
  content: '';
  right: 0;
  bottom: -40px;
  width: 25px;
  height: 40px;
  position: absolute;
  background-color: rgba(161, 161, 161, 0.384);
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-about {
  display: flex;
  align-items: center;
}
.card-name {
  margin-right: 20px;
}
.raiting {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.card-image {
  width: 93px;
  height: 93px;
  padding: 3px;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
}
.card-image .card-img {
  top: 3px;
  left: 3px;
  width: 90%;
  height: 90%;
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
  border: 2px solid var(--color-dsoft);
}
.name {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: rgba(38, 39, 43, 0.855);
}
.country {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-grey);
}
.descr {
  height: 80px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #464b55da;
}
.swiper-navBtn {
  color: var(--color-lsoft);
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: var(--color-dsoft);
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  opacity: 1;
  background-color: var(--color-lsoft);
}
.swiper-pagination-bullet-active {
  background-color: var(--color-dsoft);
}

.card__subscribe {
  display: flex;
  height: 233px;
  margin: 0 auto;
  padding: 0 55px;
  max-width: 1140px;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: 0 6px 19px -6px rgb(192 192 192 / 68%);
}
.subscribe__info {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  align-items: center;
}
.subscribe__info-about {
  padding: 0 5px;
  margin-right: 237px;
}

.subscribe__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  color: var(--color-dark);
  margin-bottom: 20px;
}
.subscribe__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-grey);
}

.descr {
  height: 100px;
}

.footer {
  width: 100%;
  background-color: #f8f8f8;
  padding: 180px 0 100px;
}
.footer__cols {
  display: flex;
  min-width: 1150px;
  height: 280px;
  margin: 0 auto;
}
.footer__col {
  min-width: 340px;
  height: 241px;
}
.footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
  color: var(--color-grey);
}
.footer__descr span {
  font-weight: 500;
}
.footer__list {
  display: flex;
  margin-left: -20px;
}
.footer__item svg {
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}
.footer__author {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
}
.footer__author span {
  font-weight: 500;
}
.footer__items {
  min-width: 570px;
  height: 280px;
  display: flex;
  margin-left: 230px;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__about {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-dark);
  margin-bottom: 20px;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.footer__help {
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-grey);
}

.footer__help:not(:last-child) {
  margin-bottom: 10px;
}
